@model SGCM.Web.ViewModels.Pacientes.Proveedor.EditarProveedorViewModel

@{
    ViewData["Title"] = "Editar Proveedor";
    Layout = "_Layout";
}

<h1>Editar Proveedor</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
            
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="RNC" class="form-label"></label>
                <input asp-for="RNC" class="form-control" />
                <span asp-validation-for="RNC" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Telefono" class="form-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CoberturaDefault" class="form-label"></label>
                <input asp-for="CoberturaDefault" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="CoberturaDefault" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
