@model SGCM.Web.ViewModels.Seguridad_Usuario.Usuario.CambiarPasswordViewModel
@{
    ViewData["Title"] = "Cambiar Contraseña";
    Layout = "_Layout";
}

<h1>Cambiar Contraseña</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
            
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="PasswordActual" class="form-label"></label>
                <input asp-for="PasswordActual" type="password" class="form-control" />
                <span asp-validation-for="PasswordActual" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="NuevoPassword" class="form-label"></label>
                <input asp-for="NuevoPassword" type="password" class="form-control" />
                <span asp-validation-for="NuevoPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmarPassword" class="form-label"></label>
                <input asp-for="ConfirmarPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input type="submit" value="Cambiar Contraseña" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
